body
  +regular
  color: $light_Black
  margin: 0
  padding: 0

.button
  border: 2px solid $light_Black
  text-decoration: none
  box-sizing: border-box
  cursor: pointer
  padding: 20px 15px
  letter-spacing: 1px
  font-size: 20px
  outline-color: transparent
  background-color: transparent
  text-transform: uppercase
  color: $white
  display: inline-block
  +regular
  
.preface
  text-align: center

  &__wrap
    width: 620px
    text-align: center
    display: inline-block
    font-size: 15px
    @media (max-width: 679px)
      width: 500px
    @media (max-width: 539px)
      width: 480px
    @media (max-width: 499px)
      width: 340px
    @media (max-width: 410px)
      width: 240px

  
  &__title
    font-size: 30px
    margin-top: 0
    margin-bottom: 36px
    +bold
    @media (max-width: 991px)
      font-size: 28px
    @media (max-width: 499px)
      font-size: 24px
    @media (max-width: 410px)
      font-size: 24px
  
  &__subtitle
      margin: 0