.navbar
  &-wrap
    display: flex
    align-items: center
    min-height: 120px
    padding-bottom: 6px
    justify-content: space-between
    background-color: #fff
    @media (max-width: 768px)
      min-height: 80px

  &-wrap__menu
    display: flex
    align-items: center
    @media (max-width: 768px)
      justify-content: space-around
    &_media
      @media (max-width: 475px)
        width: 100%
        justify-content: space-between

  &-logo
    +bold
    font-size: 25px
    cursor: pointer
    &_media
      @media (max-width: 475px)
        display: none

  &-menu
    display: flex
    width: 655px
    justify-content: space-between
    list-style: none
    padding: 0
    margin: 0
    &_f
      display: flex
    &_n
      display: none
    @media (max-width: 991px)
      width: 500px
    @media (max-width: 768px)
      display: none
    &__button
      display: none
      width: 50px
      height: 50px
      align-items: center
      flex-direction: column
      justify-content: center
      &_f
        display: flex
      &_n
        display: none
      &-line 
        height: 2px
        width: 20px
        background-color: $dark_Cyan
        margin-top: 4px
        display: inline-block
      @media (max-width: 768px)
        display: flex
        &-line
          
    &__link
      cursor: pointer
      font-size: 20px
      letter-spacing: 1px
      text-decoration: none
      color: $light_Black
      +bold
      @media (max-width: 991px)
        font-size: 18px
      
  &__menu
    margin-right: 21px

  &-search
    padding: 15px
    cursor: pointer
    &__icon
      &_f
        display: flex
      &_n 
        display: none

    &__icon::before
      +faRegular
      content: '\f002'
      font-size: 19px
    &__input
      display: none
      border: 2px solid $light_Black
      outline-color: $dark_Cyan
      padding: 10px 7px
      &_f
        display: flex
      &_n
        display: none
      
  &Mobile
    opacity: 0
    display: none
    position: fixed
    z-index: 2
    width: 100%
    height: 100%
    background-color: $dark_Cyan
    color: $white
    justify-content: center
    align-items: center
    flex-direction: column
    &_f
      display: flex
    &_n 
      display: none

    &__list
      display: flex
      justify-content: space-around
      align-items: center
      flex-direction: column
      height: 50%
      padding: 0
      margin: 0

    &__item
      list-style: none

    &__link
      text-decoration: none
      color: white
      font-size: 20px
      letter-spacing: 1px
      color: $white
      +bold
      cursor: pointer



  
  
  

