.navbar
  &-wrap
    display: flex
    align-items: center
    min-height: 123px

  &-logo
    +bold
    font-size: 25px
    color: #212121
    cursor: pointer

  &__logo
    margin-right: 344px

  &-menu
    display: flex
    width: 655px
    justify-content: space-between
    list-style: none
    padding: 0
    margin: 0

    &__link
      text-decoration: none
      color: #212121
      +bold

  &__menu
    margin-right: 21px


  
  &-search
    cursor: pointer
    &__icon::before
      +faRegular
      content: '\f002'
      font-size: 19px
  

  
  
  

